#!/usr/bin/env bash

#######################################################
# Set these to match your project environment
export SOLID_COMPANY="example-company"
export SOLID_PROJECT="solid"
export SOLID_ENV="dev"

#######################################################
# Set your AWS info
export AWS_REGION=""
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""

# If you need to assume a role, set the ARN of the role here
#export AWS_ROLE_ARN=""

########################################################
#
# Infrastructure names, variables
#
# /!\
#     You only need to change these if you are building
#     a custom environment!
# /!\
#
export SOLID_SERVICE_API_MIDDLEWARE_NAME="api-middleware"
export SOLID_SERVICE_API_FRONT_NAME="api-front"
export SOLID_SERVICE_CREATE_VIEW_NAME="create-view"
export SOLID_SERVICE_CHECK_SCOPE_NAME="check-scope"
